.vs/
*.user
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
ipch/
*.sln.docstates.json
x64/
x86/
*.tlog/
*.log
*.obj
*.pch
*.pdb
*.ilk
*.exp
*.lib
*.iobj
*.ipdb
*.recipe
serious_internal/serious_internal
serious_internal/Release
serious_internal/Debug
serious_internal/x64
serious_internal/x86
*.tmp
*.bak
*~
